body {
    background-color: #f1f1f1;
}

/* p {
    color: red;
    margin-top: 0;
}

#par-gr {
    color: green;
}

.white-txt {
    color: blue!important;
} */

.w-50{
   width: 50%;
}

.w-40{
   width: 40%;
}

.edit-cell{
    text-align: center;
}

.edit-cell a {
    text-decoration: none;
    background-color: #ffe604;
    padding: 4px 8px;
    margin: 2px 0;
    display: inline-block;
    color: black;
    border-radius: 4px;
    
}

.edit-cell a:hover {
    background-color: #ffe604;
}

table.contained {
    margin: 0 15%;
    width: 70%;
}

table {
    border: 1px solid black;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

th {
    text-align: start;
    background-color: #b3b3b3;
    padding: 8px 4px;
}

tr {
border-bottom: 1px solid #b3b3b3;
}


tfoot tr{
    border-bottom: 0;
}

tfoot tr.sum td {
text-align: right;
}

small {
   font-size: 12px;
}

* {
    font-family: 'Poppins';
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v20-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/poppins-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/poppins-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/poppins-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/poppins-v20-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
  }

*{
    font-family: 'Poppins';
}

html, body {
    height: 100%;
}

button{
    background-color: rgb(255, 238, 6);
    border: 0;
    border-radius: 4px;
    padding: 5px;
}

input {
    background-color: rgb(247, 247, 247);
    border: 0;
    width: 200px;
    border-bottom: 1px solid black;
}

input:focus-visible {
    outline: none;
}
.flex{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#msg {
    font-size: 10px;
}