body {
    background-color: #f1f1f1;
}

/* p {
    color: red;
    margin-top: 0;
}

#par-gr {
    color: green;
}

.white-txt {
    color: blue!important;
} */

.w-50{
   width: 50%;
}

.w-40{
   width: 40%;
}

.edit-cell{
    text-align: center;
}

.edit-cell a {
    text-decoration: none;
    background-color: #ffe604;
    padding: 4px 8px;
    margin: 2px 0;
    display: inline-block;
    color: black;
    border-radius: 4px;
    
}

.edit-cell a:hover {
    background-color: #ffe604;
}

table.contained {
    margin: 0 15%;
    width: 70%;
}

table {
    border: 1px solid black;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

th {
    text-align: start;
    background-color: #b3b3b3;
    padding: 8px 4px;
}

tr {
border-bottom: 1px solid #b3b3b3;
}


tfoot tr{
    border-bottom: 0;
}

tfoot tr.sum td {
text-align: right;
}

small {
   font-size: 12px;
}

* {
    font-family: 'Poppins';
}