/* p {
    color: red;
    margin-top: 0;
}

#par-gr {
    color: green;
}

.white-txt {
    color: blue!important;
} */

.w-50{
   width: 40%;
}

.w-40{
   width: 40%;
}

.edit-cell{
    text-align: center;
}

.edit-cell a {
    text-decoration: none;
    background-color: #ffe604;
    padding: 4px 8px;
    margin: 2px 0;
    display: inline-block;
    color: black;
    border-radius: 4px;
    
}

.btn.btn-warning{
background-color: rgb(228,209,62);
}

.btn.btn-danger{
    background-color: rgb(228, 62, 62);
    }


 .btn.btn-danger:hover{
        background-color: rgb(247, 77, 77);
        }

.btn.btn-active{
    background-color: rgb(179, 43, 43);
    }
       
.btn.btn-warning:hover{
        background-color: rgb(247,277,77);
            }

.btn.btn-warning:active{
        background-color: rgb(179,163,43);
            }
                

.edit-cell button {
display: inline-block;
}

.edit-cell a:hover {
    background-color: #ffe604;
}

table.contained {
    margin: 0 15%;
    width: 70%;
}

table {
    border: 1px solid black;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

th {
    text-align: start;
    background-color: #b3b3b3;
    padding: 8px 4px;
}

tr {
border-bottom: 1px solid #b3b3b3;
}

tfoot tr{
    border-bottom: 0;
}

tfoot tr.sum td {
text-align: right;
}

small {
   font-size: 12px;
}

* {
    font-family: 'Poppins';
}

/* @media only screen and (max-width: 600px) { */
    /*html, body {
        background-color: darkseagreen;
    }*/
    
    /*ul.navlist {
        margin: 0 48px;
    }*/

    .titulos{
        background-color: white;
        font-family:'Poppins';
        text-align: center;
        padding: 24px;
        box-shadow: 0px 8px 20px -8px black;
        margin: 30px;
        width: 50%;
        margin-bottom: 32px;
        margin-left: auto;
        margin-right: auto;
    }

    .a{
        text-align: center;
    }

    .forms{
        box-shadow: 0px 8px 20px -8px black;
        background-color: white;
        margin-bottom: 2px;
    }

.botoes{
    box-shadow: 0px 8px 20px -8px black;
    background-color: white;
    margin-bottom: 2px;
    font-size: large;
}

.btn{
background-color: transparent;
border: 0;
padding: 8px 16px;
cursor: pointer;
border-radius: 8px;
}

.btn.btn-sucess{
    background-color: rgb(75,191,75);
}

.btn.btn-sucess:hover {
    background-color: rgb(100,220,100);
}

.btn.btn-sucess:active {
    background-color:  rgb(54,153,54);
}

