<div (click)="showID()">
    <!-- <span>*ngIf <+> </span> -->
<h3 style="display: inline; margin: right 2px;">
    {{ hero.heroName }}

</h3>
<small [ngStyle]="{'color': (hero.alive === 'dead') ? 'grey' : 'black'}" > -{{hero.alive}}-</small>
<small [ngStyle]="{'color': (hero.universe === 'DC') ? 'blue' : 'red'}"> ({{ hero.universe }})</small>
<small (click) = "showID()"
style= "cursor: pointer;"
title="Ver identidade secreta">👁️</small>

<small (click)= "onEdit()"
style= "cursor: pointer;"
title="Editar">✏️</small>

<small (click)= "onDelete()"
style= "cursor: pointer;"
title="Excluir">🗑️</small>


</div>